.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
/**/Korzet_levalogatas*.csv
/**/Korzet_allomany_orszagos.zip
**/oevk.json
**/*.duckdb
**/*.db
**/*.db.wal
/test_*.py
*.csv
.DS_Store
**/.DS_Store
/repomix-output.xml
output
